/* tags */
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: gray;
    transition: color 0.5s ease;
  }
  
  a:hover {
    color: black;
  }
  
  body {
    font-family: 'Open Sans', arial,sans-serif;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(45deg, #eee, #fff); */
    /* background-attachment: fixed;
    letter-spacing: 0.03em; */
  }
  
  i {
    color: #00aaaa;
    font-size: 2em;
  }
  
  img {
    height: 100%;
    width: 100%;
  }
  
  p {
    font-size: 14px;
    margin: 0;
  }
  
  small {
    font-size: 12px;
    color: darkgray;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table tr:hover {
    background-color: #333;
  }
  
  table tr.active {
    background-color: #333;
  }
  
  i.fa {
    cursor: pointer;
    font-size: 2em;
    transition: color 0.2s ease;
  }
  
  i.fa:hover {
    color: #00aa00;
  }
  
  td {
    border-bottom: 1px solid gray;
    padding: 10px;
  }
  
  /* ids */
  #root {
    height: 100%;
    width: 100%;
  }


  
  #header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  
  
  /* classes */
  .main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 100%;
  }

  .cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    max-width: 1830px;
  }

  .wrapper {
    max-width: 1830px;
    box-sizing: border-box;
    padding: 85px 8px 8px 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .card-wrapper{
    margin: 8px;
    min-width: 298px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative
  }

  .card{
    height: 300px;
    width: 200px;
    border-radius: 5px;
    margin-right: 10px;
  }

  .single-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.35;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(245, 245, 245, 0.973);
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
      translateY(var(--translate-y, 0));
    height: 650px;
    width: 420px;
    border-radius: 5px;
    margin-right: 10px;
  }

  .single-card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    opacity: 1;
  }

  .single-card.flip {
    --rotate-y: 180deg;
  }

  .single-card-front {
    left: 0;
  }

  .single-card-front,
  .single-card-back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
  }

  .single-card-back {
    transform: rotateY(180deg);
  }
  
  .center {
    justify-content: center;
  }
  
  .column {
    display: flex;
  }
  
  .campus {
    border: 1px solid gray;
    background-color: #fff;
    padding: 1em;
    margin: 1em;
  }
  
  .campus h5 {
    color: gray;
  }
  
  .container {
    height: 100%;
    width: 100%;
  }
  
  .gray {
    color: gray;
  }
  
  .campus {
    width: 300px;
  }
  
  .campus h3 {
    color: black;
    margin: 10px;
  }
  
  .campus p {
    margin-left: 10px;
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }

  .row-list {
    display: flex;
    flex-direction: row;
  }

  .carousel-container {
    /* background: #f1f1f1; */
    display: flex;
    justify-content: space-evenly;
    border: 2px;
    margin: 10px;
    padding: 5px;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .carousel-card{
    height: 20rem;
    min-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  /*form*/

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
    margin: 1em;
  }

  button{
    color:white;
    background-color: darkgrey;
  }

  input{
    padding: 0.3em;
    margin: 10px 0;
    font-size: 1em;
  }

  button:hover {
    background-color: #333;
  }

  .filter-wrapper {
    position: relative;
    display: inline-block;
   }
   .filter-button {
    border-radius: 5px;
    padding: 8px 16px;
    background-color: #408aeb;
    cursor: pointer;
    font-weight: 500;
    color: white;
    font-size: 18px;
    line-height: 1.5;
   }
   .filter-button:hover {
    background-color: #092b58;
   }
   .filter-button:focus {
    outline: 1px dashed;
    outline: 1px auto -webkit-focus-ring-color;
   }

/* Dark Mode*/

   #darkmode{
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: 20px 0;
  }
  
  #darkmode .dark {
    background-color: #292c35;
  }
  #darkmode .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  #darkmode .label {
    width: 60px;
    height: 30px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    cursor: pointer;
  }
  
  #darkmode .ball {
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  #darkmode .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }